<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>User and flat</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>


  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">

  <h1>КВАРТИРЫ В ГОРОДЕ ЮЖНОЕ</h1><hr>
  <a th:href="@{/}">На главную страницу</a>
  <h4>О авторе</h4>

<h4>Квартиры пользователя </h4>
<h3 th:text="${user.name}"></h3>
<h4>Номер телефона пользователя </h4>
<h3 th:text="${user.numberPhone}"></h3>
<h4>Email пользователя </h4>
<h3 th:text="${user.email}"></h3>
<table class="table">
  <thead>
  <tr>
    <th scope="col">Заголовок</th>
    <th scope="col">Количество комнат</th>
    <th scope="col">Адресс</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="flat : ${flats}">
    <td th:text="${flat.title}"></td>
    <td th:text="${flat.amountRoom}"></td>
    <td th:text="${flat.adress.street}"></td>
    <td><a th:href="@{/flat-info/{id}(id=${flat.id})}">Подробнее. . .</a></td>

  </tr>
  </tbody>
</table>
</div>
</body>
</html>